@import url('./App.css');

.dailyFocus {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--text-md);
}

.dailyFocus div {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: var(--focus-width);
  height: var(--focus-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

h2.dailyFocusHero {
  font-size: var(--text-xl);
  text-align: center;
  margin: 0;
}

.dailyFocus form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dailyFocus form label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}

.dailyFocus form input {
  padding: 1rem;
  border: none;
  background-color: var(--color-text);
  color: var(--color-bg);
  width: clamp(80px, 30vw, 30rem);
  height: var(--btn-height);
  border-radius: 20px;
}
