.dailyFocus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

form {
  display: flex;
  width: 60%;
  height: 30%;
  align-items: center;
  justify-content: space-around;
}

label {
  display: flex;
  width: 80%;
  height: 60%;
  justify-content: space-around;
  align-items: center;
}

input#dailyFocusValue {
  width: 70%;
  height: 60%;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  color: #f4e9cd;
  background-color: #031926;
}

form button {
  width: 10%;
  height: 50%;
  background-color: #f4e9cd;
  border-radius: 20px;
  border: none;
}
