@import url('./App.css');

.dailyFocus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

h1.dailyFocusHero {
  font-size: var(--text-hero);
  text-align: center;
}

