@import url('./App.css');

.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--text-hero);
}

.buttons {
  display: flex;
  gap: var(--space-sm);
  justify-content: space-around;
}

/* .pomodoro h2 {
    margin-top: var(--space-sm);
} */






@media (max-width: 500px) {
  .buttons {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
